*{
    font-size: 10px;
}

h1{
    color:blue;
    font-size: 25px
}
h3{
    font-size: 15px
}
body{
    font-family: 'PT Serif';
    line-height: 2em;
    word-spacing: 0.3em;
    letter-spacing: 0.1em;
}
.containter {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}
.header{
    grid-row: 1/2;
    grid-column: 1/8;
    text-align: center;
    background-color: goldenrod;
}
.pitches{
    grid-row: 2/7;
    grid-column: 1/4;
   
}
.courses{
    grid-row: 2/7;
    grid-column: 4/6;
    display: block;

}
.nav-bar{
    grid-row: 2/7;
    grid-column: 6/8;
    
}
.footer{
    grid-row: 7/8;
    grid-column: 1/8;
    background-color: goldenrod;
    text-align: center;
    color: blue;

}
h1, h3{
    font-family: Roboto;
    letter-spacing: 0.2em;
}
a:hover, a:focus{
    color: goldenrod;
    text-decoration: none;
}
a{
    outline:none;
}
a:active{
    font-weight: 200;
}
.courses a[href^="http"]::after,
.courses a[href^="https://"]::after
{
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block; 
}
